.restaurants{
    width: 100%;
    display: flex;
}
.restaurants h2{
    font-size: 40px;
    font-weight: 600;
    line-height: 1;
    width: 30vw;
    letter-spacing: -.45px;
    color: #282c3f;
    margin-bottom: 16px;
}
.restaurants p{
    font-size: 20px;
    font-weight: 300;
    width: 33vw;
    color: #7e808c;
    line-height: 1.2;
}
.left_stuff{
    padding: 3rem 7rem 1.5rem 0;
    margin-left: 7vw;
    width: 50%;
    flex-grow: 1;
}
.phone_container{
    display: flex;
    flex-grow: 1;
}
.phone_container img{
    width: 21vw;
    flex-grow: 1;
}
.downbutton_container{
    display: flex;
    margin: 15% 0 5% 2% ;
}
.downbutton_container .download_buttons{
    background: none;
    border: none;
}
.download_buttons img{
    width: 13vw;
}

@media screen and (max-width: 992px) {
    .restaurants h2{
        font-size: 28px;
    }
    .restaurants p{
        font-size: 14px;
    }
}

@media screen and (max-width: 768px) {
    .restaurants h2{
        width: 70vw;
    }
    .restaurants p{
        width: 50vw;
    }
    .phone_container img:nth-child(2){
    display: none;
}
}