*, *::before, *::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body {
	margin: 0;
	font-family: ProximaNova, Arial, Helvetica Neue, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
button,
svg {
	transition: transform 0.2s;
}
button:hover,
svg:hover {
	transform: scale(1.1);
}

a{text-decoration: none;}
a:link{color: inherit;}
a:visited{color: inherit;}
